
.accordionBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.accordion_open {
  padding: 21px 25px;
}
.accordion {
  width: 800px;
  margin-bottom: 20px;
  padding: 16.2px 25px;
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  &:last-child {
    margin-bottom: 0;
  }
  &_open {
    padding: 21px 25px;
  }
  &__header {
    position: relative;
    &_marg {
      margin-bottom: 25px;
    }
  }
  &__content {
    display: flex;
  }
  &__img {
    margin-right: 26px;
  }
  &__text {
    color: $darkBlueColor;
    font-weight: 600;
    line-height: 1.6;
  }
  &__lorem {
    margin-bottom: 31px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.statisticsTrendingUp {
  display: flex;
  align-items: center;
  &__icon {
    margin-right: 26px;
  }
  &__title {
    text-transform: uppercase;
    color: $darkBlueColor;
    font-weight: 800;
  }
}
.arrowDropDown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  border: 5px solid transparent;
  border-left-color: $darkBlueColor;
  transform: rotate(88deg);
}
