.avatars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  &__item {
    margin-right: 30px;
    &_border {
      border: 20px solid $whiteColor;
      border-radius: 100%;
      // box-shadow: 1px 1px 10px black, inset 7px 0px 10px black, inset 0px 7px 10px black, inset -7px -7px 10px black;
      box-shadow: 1px 1px 7px #d6c9c9, inset 7px 0px 7px white, inset 0px 7px 7px white, inset -7px -7px 7px #ffffff;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__photo {
    width: 100%;
    &_op {
      opacity: .2;
    }
  }
}
.nameSocial {
  width: 44.8%;
  padding-bottom: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__title {
    font-size: 18px;
    color: $darkBlueColor;
    margin-bottom: 15px;
  }
  &__text {
    margin-bottom: 30px;
    text-align: center;
    color: rgb(176, 190, 197);
    line-height: 1.6;
  }
}
.social {
  display: flex;
  align-items: center;
  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}